<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <nav>
        <ul>
            <li><a href="/faculties">Список факультетов</a></li>
            <li><a href="/admin">Админка</a></li>
            <li>
                <a href="http://localhost:5000/save?name=Kelly+Smith&position_id=1&gender=W&department_id=1&email=Kelly%40example.com&phone_number=8%280297%2911-23-46&cur_date=08/15/2000&comment=Comment">
                Добавить сотрудника через URL
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>